@media screen and (max-width: 1000px) {
  .general-rules1{
    font-size: 100px;
    
  } 
  
  .para1{
    padding-top: 40px;
    font-size: 20px;
  }

  .astra-rules{
    font-size: 100px;
    padding-top: 40px;
  }

  .para2{
    padding-top: 40px;
    font-size: 20px;
  }

  .event-title{
    padding-right: 40px;
  }

  .event-title1{
   text-align: center;
   font-size:150px;
   padding-top: 70px;
  }

  .category1{
    text-align: center;
    font-size:70px;
    padding-top:150px;
   }


  .container {
    flex-direction: column;
    margin-left: 50px;
  }

  .card-c {
    margin: 0;
    margin-top: 20px;
    
  }

  .card{
    width: 750px;
height: 550px;
  }

  .card8{
    width: 750px;
height: 550px;
  }
}

